a {
  display: block;
  font-family: Arial;
  transition: all 0.2s; }
  a:hover {
    color: #ffaf54 !important;
    cursor: pointer;
    text-decoration: none; }
  a:focus {
    color: #ffaf54 !important;
    text-decoration: none; }
  a:active {
    color: #ffaf54 !important;
    text-decoration: none; }

a.underline:hover {
  text-decoration: underline; }

body {
  font-family: 'Roboto', Arial;
  font-weight: 400; }

h2 {
  font-weight: 700;
  letter-spacing: 2px; }

.center-text {
  text-align: center; }

.disabled {
  pointer-events: none; }

.dotted-line {
  width: 15%;
  border-bottom: 1px dashed #1da0ba; }

.grayed {
  opacity: 0.5; }

.inline {
  display: inline-block; }

.no-margin {
  margin: 0; }

.row {
  margin: 0; }

.text-shadow {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); }

.text-shadow-light {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); }

.title {
  width: 100%; }
  .title h2 {
    display: inline-block;
    margin: 0;
    font-size: calc(250% + 0.25vw); }

.flex-row {
  display: flex;
  flex-direction: row; }

.flex-col {
  display: flex;
  flex-direction: column; }

.justify-center {
  justify-content: center; }

.justify-space-between {
  justify-content: space-between; }

.justify-space-around {
  justify-content: space-around; }

.justify-stretch {
  justify-content: stretch; }

.justify-start {
  justify-content: flex-start; }

.align-center {
  align-items: center; }

.align-start {
  align-items: flex-start; }

.flex-wrap {
  flex-wrap: wrap; }

@media (min-width: 768px) {
  .dotted-border {
    border: 1px dashed #1da0ba;
    position: fixed;
    top: 0px;
    bottom: 0px; }
    .dotted-border.left {
      left: 15px; }
    .dotted-border.right {
      right: 15px; }

  .dotted-line:nth-of-type(2) {
    width: 55%; } }
@media (min-width: 1200px) {
  body
  h1 {
    font-size: 8vw; } }
#landing-page {
  height: 100vh; }

h1 {
  font-size: calc(190% + 0.25vw);
  padding-top: 17vh;
  margin-bottom: 2vh; }

h3 {
  font-size: calc(120% + 0.25vw);
  font-weight: 400;
  letter-spacing: 5px; }

#begin-btn {
  font-size: calc(130% + 0.25vw);
  font-weight: 700;
  margin-top: 40vh;
  transition: color 0.5s; }
  #begin-btn.glow {
    color: #1da0ba; }
  #begin-btn:hover {
    color: #ffaf54;
    text-shadow: none;
    text-decoration: underline; }

@media (min-width: 768px) {
  h3 {
    font-size: calc(240% + 0.25vw); }

  #begin-btn {
    font-size: calc(160% + 0.25vw); } }
.divider-line {
  width: 80%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 0;
  margin-left: auto;
  margin-right: auto; }

.portfolio-item img {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.3);
  margin-bottom: 40px !important; }

@media (min-width: 768px) {
  .portfolio-item .center-text {
    text-align: left; } }
.btn-custom {
  background: whitesmoke;
  border: 1px dashed #1da0ba;
  border-radius: 5px;
  color: #262730;
  font-size: calc(120% + 0.25vw);
  margin-left: 0;
  margin-right: 0;
  padding: 0 5%;
  width: 70%; }
  .btn-custom a {
    color: #262730;
    font-size: calc(100% + 0.25vw); }
  .btn-custom i {
    color: #1da0ba; }
  .btn-custom:hover {
    border: 1px solid #1da0ba;
    cursor: pointer; }

p {
  font-size: calc(110% + 0.25vw); }

#resume-buttons {
  align-self: stretch;
  width: 100%; }

@media (min-width: 768px) {
  #resume-buttons {
    width: 50%; }

  #about-text {
    width: 80%; } }
@media (min-width: 992px) {
  #resume-buttons {
    width: 40%;
    padding-left: 0;
    padding-right: 0; }

  #about-text {
    width: 60%; }

  .btn-custom {
    background: whitesmoke; } }
@media (min-width: 1200px) {
  #resume-buttons {
    width: 25%; } }
form {
  background: whitesmoke;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 10px; }
  form .btn-custom {
    background: white;
    width: 100%; }

label {
  color: #262730; }

.social-media-item i {
  font-size: calc(200% + 0.25vw); }

@media (min-width: 768px) {
  .form-control.small {
    width: 60%; }

  form .btn-custom {
    width: 60%; }

  .social-media-item {
    padding-left: 10vw; }
    .social-media-item i {
      font-size: calc(250% + 0.25vw); } }
@media (min-width: 992px) {
  .social-media-item {
    padding-left: 20vw; } }
@media (min-width: 1200px) {
  form .btn-custom {
    width: 45%; }

  .social-media-item {
    padding-left: 30vw; } }
.box-shadow-blue {
  box-shadow: 0 3px 5px rgba(76, 184, 196, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(76, 184, 196, 0.3);
  -webkit-box-shadow: 0 3px 5px rgba(76, 184, 196, 0.3); }

#main-links {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  #main-links a {
    font-size: calc(100% + 0.25vw);
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    width: 12vw;
    visibility: hidden; }

#hamburger-menu {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 4vw;
  position: fixed;
  right: 0;
  top: 0;
  transition: all 0.4s; }

#logo {
  width: 40vw;
  transition: all 0.4s; }

#nav {
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  transition: all 0.1s;
  z-index: 1; }
  #nav i {
    font-size: 27px; }
  #nav a:hover {
    transform: scale(1.1); }

#navbar {
  background: whitesmoke;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vh 0 1vh 5vw;
  position: relative;
  z-index: 1; }

#navbar-hb {
  background: whitesmoke;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 10vw;
  position: fixed;
  transition: all 0.4s;
  width: 100vw; }
  #navbar-hb a {
    font-size: 8vw; }
  #navbar-hb.open {
    top: 7vh; }

.separator {
  border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
  margin: 0 -10vw; }

@media (min-width: 576px) {
  #logo {
    width: 25vw; }

  #main-links a {
    visibility: visible; }

  #hamburger-menu {
    visibility: hidden; }

  #navbar-hb {
    visibility: hidden; } }
@media (min-width: 1200px) {
  #logo {
    width: 15vw; }

  #navbar {
    height: 6vh; } }

/*# sourceMappingURL=index.css.map */
