.btn-custom, a.btn-custom {
	background: $gray;
	border: 1px solid $blue;
	color: $black;
	
	font-size: calc(140% + 0.25vw);
	
	padding: 5px 17%;
	transition: all 0.2s;
	
	i {
		color: $blue;
		font-size: calc(150% + 0.25vw);
		transition: all 0.2s;
	}
	
	&:hover {
		border: 1px solid $orange;
		
		i {
			color: $orange;
		}
	}
}


p {
	font-size: calc(110% + 0.25vw);
}

#resume-buttons {
//  margin-bottom: 3vh;
	width: 100%;
}

@media (min-width: 500px) {
	#resume-buttons {
		width: 75%;
	}
}

@media (min-width: 650px) {
	#resume-buttons {
		width: 50%;
	}
}

@media (min-width: 768px) {
	#about-text {
		width: 80%;
	}
}

@media (min-width: 992px) {
	#resume-buttons {
		width: 40%;
//      padding-top: 5vh;
// 		padding-bottom: 5vh;
		padding-left: 15px;
		padding-right: 15px;
	}
	
	#about-text {
		width: 60%;
	}
	
	.btn-custom {
		background: $gray;
	}
}

@media (min-width: 1200px) {
	#resume-buttons {
		width: 30%;
		padding-left: 0;
		padding-right: 30px;
	}
}