$nav-transition-time: 0.4s;

.box-shadow-blue {
    box-shadow: $box-shadow-bottom-blue;
    -moz-box-shadow: $box-shadow-bottom-blue;
    -webkit-box-shadow: $box-shadow-bottom-blue;
}

#main-links {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        font-size: calc(100% + 0.25vw);
        border-left: 1px solid $transparent-gray;
        width: 12vw;
        visibility: hidden;
    }
}

#hamburger-menu {
    border-left: 1px solid $transparent-gray;
    display: flex;
        flex-direction: column;
        justify-content: center;
//  height: 7vh;
    padding: 0 4vw;
    position: fixed;
        right: 0;
        top: 0;
    transition: all $nav-transition-time;
}

#logo {
    width: 40vw;
    transition: all $nav-transition-time;
}

#nav {
    opacity: 0;
    position: fixed;
        top: 0;
        right: 0;
        left: 0;
    transition: all 0.1s;    //    this handles the nav fading into view after landing page
    z-index: 1;
    
    i {
        font-size: 27px;
    }
    
    a:hover {
        transform: scale(1.1);
    }
}

#navbar {
    background: $gray;
    border-bottom: 1px solid $transparent-gray;
    display: flex;
        justify-content: space-between;
        align-items: center;
//  height: 7vh;
    padding: 1vh 0 1vh 5vw;
    position: relative;
    z-index: 1;
}

#navbar-hb {
    background: $gray;
    border-bottom: 1px solid $transparent-gray;
    display: flex;
        flex-direction: column;
        justify-content: space-around;
    padding: 0 10vw;
//  height: 35vh;
    position: fixed;
//      top: -27.8vh;
    transition: all $nav-transition-time;
    width: 100vw;
    
    a {
        font-size: 8vw;
    }
    
    &.open {
        top: 7vh;
    }
}

.separator {
    border-bottom: 1px dashed $transparent-gray;
    margin: 0 -10vw;
}

@media (min-width: 576px) {
    #logo {
        width: 25vw;
    }
    
    #main-links a {
        visibility: visible;
    }
    
    #hamburger-menu {
        visibility: hidden;
    }
    
    #navbar-hb {
        visibility: hidden;
    }
}

@media (min-width: 992px) {
    
}

@media (min-width: 1200px) {
    #logo {
        width: 15vw;
    }
    
    #navbar {
//      height: 6vh;
    }
}