nav {
	background: $light-gray;
	border-bottom: 1px solid $gray;
	color: $black;
}

.hidden {
	display: none;
}

ul.nav {
	height: 60px;
}

.navbar-toggler {
	border: 1px solid $orange;
	color: $orange;
	
	&.collapsed {
		border-color: $gray;
		color: $gray;
	}
}

.navbar-toggler.open {
	border: 1px solid $orange;
	color: 1px solid $orange;
}

.navbar-logo {
	height: 20px;
}