#portfolio-page {
    
}

.divider-line {
	width: 80%;
	border-bottom: 1px solid $transparent-gray;
// 	margin-bottom: 5vh;
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
}

.portfolio-item {
    
    img {
        box-shadow: $box-shadow-light;
        margin-bottom: 40px !important;
    }
}

@media (min-width: 768px) {
    .portfolio-item {
        .center-text {
            text-align: left;
        }
    }
}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}