#landing-page {
	.row {
		height: 100vh;
	}
	
	.btn-custom {
		margin-top: 50px;
		width: 50%;
	}
}

.landing-header {
	padding-left: 5%;
}

.landing-graphic {
	background: $blue;
	width: 40%;
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}